<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tool Review{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
            <link rel="icon" type="image/png" href="{{ asset('img/toolReviewIcon.png') }}" />
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="title_header">
                <a href="{{ path('tr_platform_home') }}"><img src="{{ asset('img/TR-logo.png') }}" alt="banner" style="width:250px;"/></a>
                <a href="{{ path('tr_platform_admin_dashboard') }}">
                    <img src="{{ asset('img/icon-admin.png') }}" alt="banner" style="width:18px; margin-bottom: 4px;"/>
                </a> 
            </div>
            <nav>
                {% include '::navbar-top.html.twig' %}
            </nav>
        </header>
        
        <div id="wrap">
            {% block body %}{% endblock %}
        </div>
        
        <footer>       
            <h6>Tool Review &copy; All Right Reserved.</h6>
        </footer>        
    </body>
</html>
