{% extends "::base.html.twig" %}

{% block title %}
    Exercice 1 - {{ parent() }}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/exercices.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/exercice_a.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}"/>
    <section id="wrapIndex">
        <div class="navigation">
            {% include 'TRPlatformBundle:exercices:navbar_top.html.twig' %}
        </div>

        <div id="content">
            <div id="ruler">
                <p>Consigne de l'excercice : <br>
                Retrouve la traduction de chaque mot ou expression.
                </p>
            </div>

            <div class="navigation-filters">
                <ul>
                    <li>
                        <span onclick="displayDateFilters();" {% if filterExercice is defined and filterExercice == 'date' %}class="active"{% endif %}>Date</span>
                    </li>
                    <li>
                        <a href="{{ path('tr_platform_exercice_a_favorite') }}" {% if filterExercice is defined and filterExercice == 'favorite' %}class="active"{% endif %}>Favoris</a>
                    </li>
                </ul>
            </div>
            <div id="date_filters" style="display:none;">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                    {{ form_widget(form.date1, {'attr': {'placeholder': 'Date1' }}) }}
                    {{ form_widget(form.date2, {'attr': {'placeholder': 'Date2' }}) }}
                    {{ form_widget(form.validate) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>

            <div id="container_word" style="display:flex; justify-content:center;">
                <div id="word"></div>
                <img id="favorite" alt="favoris" height="20" style="float:right" onclick="favorite();"/>
            </div>

            <input id="answer" type="text" onkeypress="validateExerciceA(event);"/>
            <img id="info-button-exercice1" src="{{ asset('img/infos-logo.png') }}" alt="infos" onclick="getAnswer();"/>
            <button onclick="validateExerciceA(event);">Valider</button>

            <button onclick="nextWord();">Suivant</button> <br/><br/>

            <div id="show-examples-default">
                <span id="label-switch">Exemples par défaut {% if show_examples %}activé {% else %}désactivé{% endif %}</span>
                <label class="switch">
                    <input type="checkbox"{% if show_examples %} checked{% endif %} disabled>
                    <span class="slider round"></span>
                </label>
            </div>

            <div id="wrap-indication">
                <img id="indication-picture" src="{{ asset('img/indice.png') }}" alt="indice" onclick="showExample();" height="100" style="display:none;"/>
                <div id="indication-exercice1"></div>
            </div>
        </div>
    </section>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script>
            var dates = JSON.parse('{{ dates | raw }}');
            var timestampDates = [];

            for (var i=0; i<dates.length; i++ ) {
                timestampDates.push(new Date(dates[i].dateCreation.timestamp*1000).getTime());
            }
        </script>
        <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
    {% endblock %}

    <script>
        var table = JSON.parse('{{ words|raw }}');
        var rand = Math.floor(Math.random()*table.length);
        var answer = document.getElementById('answer');
        var indication = document.getElementById('indication-exercice1');
        var idCurrentWord;

        if ( table.length != 0 ) {
            buildExerciceA();
        } else {
            document.getElementById('wrapIndex').innerHTML = "<div id=\"no_words\">Pas de mots existants.</div>"
        }

        function buildExerciceA () { 
            document.getElementById('word').innerHTML = table[rand].english;
            idCurrentWord = table[rand].id;

            if ( table[rand].favorite ) {
                document.getElementById('favorite').src = "{{ asset('img/is-favorite-logo.png') }}";
            } else {
                document.getElementById('favorite').src = "{{ asset('img/isn-favorite-logo.png') }}";
            }

            if (table[rand].examples != undefined) {
                document.getElementById('indication-picture').style.display = "initial";
            } else {
                document.getElementById('indication-picture').style.display = "none";
            }

            if ( "{{ show_examples }}" ) {
                showExample();
            }
        }
        function validateExerciceA(event) {
            if ( event.type == "keypress" ) {
                if ( event.keyCode == 13 && answer.style.color == "rgb(4, 183, 61)" ) {
                    nextWord();
                } else if ( event.keyCode == 13 ) {
                    if (answer.value == table[rand].french) {
                        answer.style.color = "#04B73D";
                        answer.style.borderColor = "#04B73D";
                        showExample();
                    } else {
                        answer.style.color = "#C20306";
                        answer.style.borderColor = "#04B73D";
                    }
                } 
                if ( event.keyCode == 48) {
                    getAnswer();
                    event.preventDefault();
                    answer.style.color = "#04B73D";
                }
            } else if( event.type == "click" ) {
                if (answer.value == table[rand].french) {
                    answer.style.color = "#04B73D";
                    answer.style.borderColor = "#04B73D";
                    showExample();
                } else {
                    answer.style.color = "#C20306";
                    answer.style.borderColor = "#04B73D";
                }
            }
        }
        function nextWord() {
            rand = Math.floor(Math.random()*table.length);
            buildExerciceA();
            answer.value = "";
            answer.style.color = "";
            indication.innerHTML = "";
        }
        function getAnswer() {
            answer.value = table[rand].french; 
        }
        function showExample() {
            if ( table[rand].examples != undefined ) {
                var examples = table[rand].examples.split("|");
                if ( examples[0] != undefined ) {
                    indication.innerHTML = examples[0].replace(table[rand].english,"<strong>" + table[rand].english + "</strong>");
                }
                if ( examples[1] != undefined ) {
                    indication.innerHTML += "<br/>" + examples[1].replace(table[rand].english,"<strong>" + table[rand].english + "</strong>");
                }
            }
        }

        function favorite() {
            $.ajax({
                url: "{{ path('tr_ajax_platform_vocabulary_favorite') }}",
                dataType: "json",
                data : { 'id': idCurrentWord },
                type: 'POST',
                async: true,
                success: function (data)
                {
                    if ( data.success ) {
                        if ( data.favorite ) {
                            table[rand].favorite = true;
                            document.getElementById('favorite').src = "{{ asset('img/is-favorite-logo.png') }}";
                        } else {
                            table[rand].favorite = false;
                            document.getElementById('favorite').src = "{{ asset('img/isn-favorite-logo.png') }}";
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        $('#form_date1').datetimepicker({
            mask:'9999/19/39',
            format:'Y/m/d',    
            timepicker:false,
            formatDate:'Y/m/d',
            lang:'fr'
        });

        $('#form_date2').datetimepicker({
            mask:'9999/19/39',
            format:'Y/m/d',    
            timepicker:false,
            formatDate:'Y/m/d',
            lang:'fr'
        });

        function displayDateFilters() {
            if ( $("#date_filters").is( ":hidden" ) ) {
                $("#date_filters").show( "slow" );
            } else {
                $("#date_filters").slideUp();
            }
        }
    </script>

{% endblock %}